*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to right,#ffffff,#ffffff);
    color: #333;
    transition: background 0.4s,color 0.3s;
}
/* 
#home{
    height: 500px;
} */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #4CAF50;
    color: white;
    position: sticky;
}
.logo{
    font-size: 28px;
    margin-right: 65%;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
    color: #e3ffe7;
}
.banner{
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/62/29/diwali-diya-banner-with-text-space-vector-39626229.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.bContent{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin-right: -45%;
    display: inline-block;
}
.banner h1{
    font-size: 48px;
    color: #ffd700;
}
.banner p{
    font-size: 24px;
    margin: 10px 0 0;
    color: #ffeb3b;
}
.sideH{
    margin: 25px 0 25px 50px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    max-width: 1400px;
    padding-left: 5rem;
    
}
.card{
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 200px;
    /*height: 460px; */
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid black; */
}

.card:hover{
    border-color: lightgreen;
}
.card-img{
    margin-left: 30px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.card-content p{
    margin: 0.5rem 0;
    color: #777;
}
.card-content h3{
    margin: 0.5rem 0;
    color: #333;
    font-size: 1rem;

}
.rating{
    font-size: 0.9rem;
    color: #ffa726;
}
.price{
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
.oldPrice{
    color: #999;
    font-size:0.9rem;
    margin-left: 0.5rem;
}
.add{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border-color: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.add:hover{
    background-color: #388e3c;
}

.container{
    background-color: #333;
    color: white;
}
.Footer{
    margin-top: 40px;
    text-align: center;
}
.Footer a{
    text-decoration: none;
    margin-bottom: 0.5rem;
}